@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-center">About Us - What We Give - What Is Our Mission</h1>
<section id="home" class="home-table box-shadow ">

    <div class="card-group text-secondary ">
        <div class="card">
            <div class="img-zoom">
                <img src="~/css/Image/Mission.jpg" class="card-img-top" alt="">
            </div>
            <div class="card-body">
                <h5 class="card-title"><strong>Our Mission!</strong></h5>
                <p class="card-text ">The Division of Student Life is committed to enriching the academic, personal and professional growth of all eStudent students.The Division of Student Life will lead our profession by providing innovative programs and services for the technological research university of the 21st century. eStudent students will be strategically positioned to lead, influence, and contribute to their communities locally, nationally, and globally for the improvement of the human condition.</p>
                <a asp-area="" asp-controller="Home" asp-action="Contact">Contact Education Department</a>
            </div>
        </div>
        <div class="card">
            <div class="img-zoom">
                <img src="~/css/Image/give.jpg" class="card-img-top" alt="" />
            </div>
            <div class="card-body">
                <h5 class="card-title"><strong>What we Give!</strong></h5>
                <p class="card-text">In our diverse classrooms, students come to us from different backgrounds and experiences. For example, some are from single-parent homes and others may not have a history of academic success. There’s a historical record of specific groups of students who have experienced long-term exclusion—students coming from different ethnic or language backgrounds than the majority student population, students with disabilities, or students who identify as eStudent+.</p>
                <a asp-area="" asp-controller="Home" asp-action="Contact">Contact Education Department</a>
            </div>
        </div>
        <div class="card">
            <div class="img-zoom">
                <img src="~/css/Image/Educ.jpg" class="card-img-top" alt="">
            </div>
            <div class="card-body ">
                <h5 class="card-title"><strong>About Our Vission!</strong></h5>
                <p class="card-text">Our vision is to guide you along the path to unlock your potential, no matter where your starting point may be. We'll help you access all the value that education can offer, through high-quality, trusted content developed with world-class authors – and flexible tools to meet the needs of different teaching and learning styles. Our digital platforms provide data-driven insights, adapting to help meet learners where they are – and advancing with them as they progress toward their goals.For over 130 years, we have never stopped innovating to meet the ever-changing needs of educators and learners.</p>
                <a asp-area="" asp-controller="Home" asp-action="Contact">Contact Education Department</a>
            </div>
        </div>
    </div>
</section>
